header {
  height: 60px;
  line-height: 60px - 2px;
  position: absolute;
  top: 0;
  width: 100%;
  background: #fcfcfc;
  padding: 0 20px;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    margin: 0;
    flex: 1;
    font-weight: 300;
  }
  button + .post-hidden {
    display: none;
  }
  .hidden {
    display: none;

    & + .post-hidden {
      display: block;
    }
  }
  .restart {
    margin-right: 20px;
  }
}
content {
  position: absolute;
  top: 60px;
  bottom: 0;
  width: 100%;
  padding: 20px;
  overflow: auto;
  text-align: center;
  display: flex;
}
