header {
  height: 80px;
  line-height: 80px - 2px;
  position: fixed;
  top: 0;
  width: 100%;
  background: #fafafa;
  padding: 0 20px;
  border-bottom: 1px solid #eeeeee;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  h1 {
    font-weight: 300;
    margin: 0;
    font-size: 32px;
  }
  .info {
    text-align: right;
    flex: 1;
    font-size: 14px;
    font-weight: 300;
    color: #666666;

    &__item {
      margin: 0 6px;

      span {
        font-weight: 400;
        color: #333333;
      }
    }
    a {
      text-decoration: none;
      color: #333333;
      font-weight: 400;
      transition: all .3s ease;
      cursor: pointer;

      &:hover {
        color: #777777;
      }
    }
  }
}
content {
  position: fixed;
  top: 80px;
  bottom: 0;
  width: 100%;
}

@media (max-width: 680px) {
  header {
    h1 {
      font-size: 24px;
    }
  }
}
@media (max-width: 570px) {
  header {
    text-align: center;
    display: block;
    line-height: 80px * .5;

    h1 {
      font-size: 24px;
      height: 80px * .5;
      line-height: 80px * .6;
    }
    .info {
      text-align: center;
    }
  }
}
@media (max-width: 380px) {
  header {
    .info {
      font-size: 12px;
    }
  }
}
